<!-- ******************************************************************************************
* Create By     :     Deloitte Consulting.
* Create Date   :     4/20/2016         
* Description   :     Page to display Related SIS cases on a SIS case as an inline VF page.

*     Modification Log:
*    -----------------------------------------------------------------------------
*    * Developer                   Date               Description        Modification ID
*    * ----------------------------------------------------------------------------                 
*    * Prem Kumar Gupta          4/20/2016           Initial version.    M-001
******************************************************************************************-->
<apex:page standardController="Case" extensions="MACYS_SearchRelatedSISCase" action="{!getRelatedCase}">
    <apex:includeScript value="/support/console/26.0/integration.js"/> 
    
    <apex:form >
        <apex:pageBlock id="block" mode="edit" rendered="{!isConsoleUser}">
            <apex:pageMessages />

            <apex:pageBlockTable value="{!sisCaseList}" var="item" rendered="{!hasRelatedCase}">
                <apex:column style="cursor: pointer;" value="{!item.MACYS_SISCaseNumber__c}" onclick="testOpenPrimaryTab('{!item.id}','{!item.MACYS_SISCaseNumber__c}');"/>
                <apex:column value="{!item.subject}"/>
                <apex:column value="{!item.MACYS_SISStep__c}"/>
            </apex:pageBlockTable>

        </apex:pageBlock>

        <apex:pageBlock id="block1" mode="edit" rendered="{!isCommunityUser}">
            <apex:pageMessages />

            <apex:pageBlockTable value="{!sisCaseList}" var="item" rendered="{!hasRelatedCase}">
                <apex:column style="cursor: pointer;" value="{!item.MACYS_SISCaseNumber__c}" onclick="check('{!item.id}');"/>
                <apex:column value="{!item.subject}"/>
                <apex:column value="{!item.MACYS_SISStep__c}"/>
            </apex:pageBlockTable>

        </apex:pageBlock>
        
        
        <apex:outputLabel rendered="{!!hasRelatedCase}"> No Related SIS Case </apex:outputLabel>

    </apex:form>

    <script type="text/javascript">
        var relatedcase;
        var siscasenumber;
        var isCommunityUser = '{!isCommunityUser}';
        var isConsoleUser =  '{!isConsoleUser}';
        var profileName =  '{!profileName}';
        
        function testOpenPrimaryTab(caseid, casenumber) {
            relatedcase=caseid;
            siscasenumber=casenumber;
            //sforce.console.openPrimaryTab(null, '/%2F500m0000005aNbF', false,'salesforce', openSuccess, 'New Case');
            sforce.console.getFocusedPrimaryTabId(openSubtab);

        }

        var openSubtab = function openSubtab(result) {
            var tabId = result.id;
            var urlfornewcase='/%2F'+relatedcase;
            sforce.console.openSubtab(tabId, urlfornewcase, true, siscasenumber, null, '', '');
        };
        
        function check(id){
            console.log(id);
            window.open('{!communityUrl}' + '/'+id);
        }

    </script>

</apex:page>